header {
    background-color: #0b6498;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 1.5em;
}

button {
    border-radius: 50%;
    border: 0;
    color: white;
    background-color: #56a20d;
    padding: 10px 12px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.map {
    background-color: lightgreen;
    height: calc(100vh - 57px);

}
